<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>订单评价</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="/orchard/public/static/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/orchard/public/static/admin/style/admin.css" media="all">
</head>
<body>

<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body">
                    <table class="layui-table">
                        <colgroup>
                            <col width="30%">
                            <col width="70%">
                        </colgroup>
                        <tbody>
                        <tr>
                            <td>用户</td>
                            <td>{$userName}</td>
                        </tr>
                        <tr>
                            <td>商品</td>
                            <td>{$productName}</td>
                        </tr>
                        <tr>
                            <td>评价</td>
                            <td>{$content}</td>
                        </tr>
                        <tr>
                            <td>评价图片</td>
                            <td><img src="{$imgUrl}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>